* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.accordion-section {
	display: flex;
	flex-direction: column;
}

.accordion-title {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	display: flex;
	align-items: center;
	border: none;
	outline: none;
	transition: background-color 0.4s ease;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	margin: 0.5rem 0rem 0rem 0rem;
	padding: 0px 40px;
}

.accordion-title:hover,
.accordion-title:active {
	background-color: #ccc;
}

.accordion-icon {
	margin-left: auto;
	transition: transform 0.4s ease;
}

.rotated {
	transform: rotate(90deg);
}
.accordion-content {
	background-color: white;
	max-height: 0;
	transition: max-height 0.4s ease;
	overflow: hidden;
}
.show-accordion-content {
	padding: 1rem;
	max-height: 500px;
	transition: max-height 0.4s ease-in;
}
.accordion-text {
	font-weight: 400;
	font-size: 14px;
	padding: 18px;
}

.accordion-content::-webkit-scrollbar {
	width: 5px;
}
.accordion-content::-webkit-scrollbar-thumb {
	background: #5466b3;
	border-radius: 10px;
}

.accordion-content:-webkit-scrollbar-thumb:hover {
	background: #3a4c99;
}
